<launch>
  <arg name="first_ns" default="dp3_0"/>
  <arg name="second_ns" default="dp3_1"/>
  <arg name="third_ns" default="dp3_2"/>

  <group ns="$(arg first_ns)">
    <node pkg="gmapping" type="slam_gmapping" name="gmapping">
      <param name="base_frame" value="$(arg first_ns)/base_footprint"/>
      <param name="odom_frame" value="$(arg first_ns)/odom"/>
      <param name="map_frame" value="$(arg first_ns)/map"/>
      <param name="throttle_scans" value="1"/>
      <param name="linearUpdate" value="0.2"/>
      <param name="angularUpdate" value="0.2"/>
      <param name="particles" value="30"/>
      <remap from="scan" to="scan"/>
    </node>

    <!--node pkg="tf" type="static_transform_publisher" name="odom_to_base_footprint_tf_0"
          args="0 0 0 0 0 0 $(arg first_ns)/odom $(arg first_ns)/base_footprint 100"/-->
  </group>

  <group ns="$(arg second_ns)">
    <node pkg="gmapping" type="slam_gmapping" name="gmapping">
      <param name="base_frame" value="$(arg second_ns)/base_footprint"/>
      <param name="odom_frame" value="$(arg second_ns)/odom"/>
      <param name="map_frame" value="$(arg second_ns)/map"/>
      <param name="throttle_scans" value="1"/>
      <param name="linearUpdate" value="0.2"/>
      <param name="angularUpdate" value="0.2"/>
      <param name="particles" value="30"/>
      <remap from="scan" to="scan"/>
    </node>

    <!--node pkg="tf" type="static_transform_publisher" name="odom_to_base_footprint_tf_1"
          args="0 0 0 0 0 0 $(arg second_ns)/odom $(arg second_ns)/base_footprint 100"/-->
  </group>

  <group ns="$(arg third_ns)">
    <node pkg="gmapping" type="slam_gmapping" name="gmapping">
      <param name="base_frame" value="$(arg third_ns)/base_footprint"/>
      <param name="odom_frame" value="$(arg third_ns)/odom"/>
      <param name="map_frame" value="$(arg third_ns)/map"/>
      <param name="throttle_scans" value="1"/>
      <param name="linearUpdate" value="0.2"/>
      <param name="angularUpdate" value="0.2"/>
      <param name="particles" value="30"/>
      <remap from="scan" to="scan"/>
    </node>

    <!--node pkg="tf" type="static_transform_publisher" name="odom_to_base_footprint_tf_2"
          args="0 0 0 0 0 0 $(arg third_ns)/odom $(arg third_ns)/base_footprint 100"/-->
  </group>
</launch>

